<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login/Register</title>
    <link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="fundo">
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="/img/logo.png" width="180" height="50"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/room">Room Listing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/singup">Sign Up</a>
                        </li>
        
                    </ul>
                </div>
        
            </div>
        </nav>
    </header>

<!---->

    <div class="modal-dialong text-center">
        <div class="col-sm-6 main-section">
            <div class="modal-content over">
    
                <div class="button-box">
                    <div id="btnn"></div>
                    <button type="button" class="toggle-btnn col-5" onclick="login()">Login</button>
                    <button type="button" class="toggle-btnn col-5" onclick="register()">Register</button>
                </div>

                <!--POP UP DE PROBLEMA-->

                    <% if(typeof alert != 'undefined') { %>
                        <% alert.forEach(function(error) { %>
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <%= error.msg%>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        <% }) %>
                    <% } %>
                
                <!-- ASSIGNMENT 3:-->

                    <% if(ok){ %>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <%=ok%>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <% } %>

                <!--comeco de form--->
                <form action="/login" id="login" class="col-12" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email_z" id="email" placeholder="Email Address">
                    </div><br>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div><br>
                    <button type="submit" class="btn subBtn">Sing In</button>
                </form>

                <form action="/register" id="register" class="col-12" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email1" id="email1" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password1" id="password1" placeholder="Create Password">
                    </div>
                    <div class="form-group">
                        <label class="letra">Birthday</label>
                        <p class="letra">To sing up, you need to be at least 18. Other people who use Airbnb won't see your birthday</p>
                        <input type="date" class="form-control" name="birthday" id="birthday">
                    </div>
                    <button type="submit" class="btn subBtn">Sing Up</button>
                </form>

            </div>
        </div>

    </div>



<!---->
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-12">
                    <h3>Follow us:</h3>
                    <p>Get news in our social media, lets be friends :D</p>
                </div>
                <div class="col-12 social padding">
                    <a href="https://www.facebook.com/AirbnbBrasil/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/airbnb"  target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/airbnb/"  target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script>
        let x = document.getElementById("login");
        let y = document.getElementById("register");
        let z = document.getElementById("btnn");

        function register(){
            x.style.left = "-200%";
            y.style.left = "0px";
            z.style.left = "50%";
        }

        function login(){
            x.style.left = "0px";
            y.style.left = "200%";
            z.style.left = "0px";
        }

    </script>

</body>


</html>